# CHAPTER 6  - `Strings`

#### Exercise 1

Given the code below    

    text = 'Business Analytics'

What will the following expressions produce?
    
    text[4]
    text[2:4]
    text[:4]
    text[4:]
    text[-2]
    text[-4:-2]
    text[-2:]
    text[:-2]

In [ ]:
text = 'Business Analytics'
print(text[4])
print(text[2:4])
print(text[:4])
print(text[4:])
print(text[-2])
print(text[-4:-2])
print(text[-2:])
print(text[:-2])

n
si
Busi
ness Analytics
c
ti
cs
Business Analyti

#### Exercise 2

In [ ]:
phrase = 'One Ring to rule them all'
print(phrase[0:4])
print(phrase[5:9])
print(phrase[19:22])
print(phrase[14:18])
print(phrase)
print(phrase[0:23])

One
ing
em
le t
One Ring to rule them all
One Ring to rule them a


## CHALLENGE

Write a program which repeatedly reads a **full name**, then does the following:
- strips the name of any trailing spaces
- capitalizes the first letter
- puts the rest into smaller letters

[TABLE OF CONTENTS](#contents)

<a id='chapter8'></a>

In [ ]:
while True:
    full_name = input("Enter your full name: ")
    full_name = full_name.strip()
    first_name = full_name.split()[0]
    last_name = full_name.split()[-1]
    first_name = first_name.capitalize()
    last_name = last_name.capitalize()
    rest_of_name = ' '.join(full_name.split()[1:-1]).lower()
    print(f"Your name with the first letter capitalized and the rest in smaller letters is: {first_name} {rest_of_name} {last_name}")