<a id='chapter8'></a>

# CHAPTER  8 - Lists

#### Exercise 1

Create an empty list then add the following numbers using `append`: 4, 6 9.

In [ ]:
my_list = []
my_list.append(4)
my_list.append(6)
my_list.append(9)
print(my_list)

[4, 6, 9]

#### Exercise 2

Using the `range` function, create a list containing the numbers from 0 to 10.

In [ ]:
my_list = list(range(11))
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Exercise 3

Create a list containing the valid grade values, then using `enumerate` in a `for` loop, print out all **indices** and **items** in the list.

It should print out:

    0   1.0
    1   1.25
    2   1.5
    3   1.75
    4   2.0
    5   2.25
    6   2.5
    7   3.0

In [ ]:
grade_values = [1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5, 3.0]

for i, grade in enumerate(grade_values):
    print(i, grade)

0 1.0
1 1.25
2 1.5
3 1.75
4 2.0
5 2.25
6 2.5
7 3.0

#### Exercise 4

Using Index Slicing, print out the list of grades higher than 2.0

In [ ]:
grade_values = [1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5, 3.0]
if any(grade > 2.0 for grade in grade_values):
    print(grade_values[grade_values.index(2.0):])
else:
    print("There are no grades higher than 2.0 in the list.")

[2.0, 2.25, 2.5, 3.0]

#### Exercise 5

Using Index Slicing, print out the list of grades better than 2.0.

In [ ]:
grades = [1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5, 3.0]
better_grades = grades[grades.index(2.0)+1:]
print(better_grades)

[2.25, 2.5, 3.0]

#### Exercise 6

Using Index Slicing, print out the grades 2.0,2.25,2.5.

In [ ]:
grades = [1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5, 3.0]
selected_grades = grades[grades.index(2.0):grades.index(3.0)]
print(selected_grades)

[2.0, 2.25, 2.5]

## CHALLENGE

Modify the code in the subheading [Parsing Lines](#ParsingLines) to display all the time stamps
of the emails in mboxt-short.txt