In [ ]:
class yr:
  x = 2021

In [ ]:
# confusing variable name
hour = 35.0
rate = 12.50
pay = hour * rate
print(pay)

437.5

In [ ]:
a = 35.0
b = 12.50
c = a * b
print(c)

437.5

In [ ]:
hours = 35.0
rate = 12.50
pay = hours * rate
print(pay)

437.5

## EXERCISES

In [ ]:
name = input("Enter Name: ")
print("hello, "+ name)

Enter Name: maria
hello, maria

#### Exercise 2

In [ ]:
hour = float(input("Enter Hours: "))
rate = float(input("Enter Rate: "))

pay = (hour * rate)
print("Pay: ", pay)

Enter Hours: 35
Enter Rate: 2.75
Pay:  96.25

#### Exercise 3

In [ ]:
width = 17
height = 12.0

print("Expression: width//2")
value = width // 2
print("Value: ", value, " Type: ", type(value))

print("Expression: width/2.0")
value = width / 2.0
print("Value: ", value, " Type: ", type(value))

print("Expression: height/3")
value = height / 3
print("Value: ", value, " Type: ", type(value))

print("Expression: 1 + 2 * 5")
value = 1 + 2 * 5
print("Value: ", value, " Type: ", type(value))

Expression: width//2
Value:  8  Type:  <class 'int'>
Expression: width/2.0
Value:  8.5  Type:  <class 'float'>
Expression: height/3
Value:  4.0  Type:  <class 'float'>
Expression: 1 + 2 * 5
Value:  11  Type:  <class 'int'>

#### Exercise 4

Write a program that uses input to prompt a user for a number and then outputs the square of the number
```
Enter a number: 3
The square of 3 is 9
```

In [ ]:
number = int(input("Enter a Number:"))

square = number * number
print("The square of ", number,"is", square)

Enter a Number:3
The square of  3 is 9

## CHALLENGE

Write a program which prompts the user for a Celsius temperature, convert the temperature to Fahrenheit, and print out the converted temperature.

[PEW] E2.5

In [ ]:
cel = float(input("Celcius: "))
fah = float(input("Fahrenheit: "))

fah = (9/5 * cel) + 32

print("Temperature is ", fah)

Celcius: 23
Fahrenheit: 23
Temperature is  73.4